<% include ../partials/header %>

<div id="dodd-home" class="h-100">
    <div class="jumbotron">
        <div class="row justify-content-md-center">
            <div class="col-sm-12">
                <h1 class="display-4">Register</h1>
                <hr>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form action="/register" method="POST" class="form">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group row">
                                    <label for="customer-number" class="col-sm-3 col-form-label">HRN Number:</label>
                                    <div class="col-sm-9">
                                        <input type="text" required class="form-control  <% if(validation.HRN_Numberinvalid){ %> is-invalid <% } %>" id="customer-number" <% if(validation.HRN_Number){ %> value="<%= validation.HRN_Number %>" <% } %>
                                            name="signup[HRN_Number]" placeholder="ABC123">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="username" class="col-sm-3 col-form-label">Username:</label>
                                    <div class="col-sm-9">
                                        <input type="text" required class="form-control <% if(validation.usernameinvalid){ %> is-invalid <% } %>" id="username" name="signup[username]" <% if(validation.username){ %> value="<%= validation.username %>" <% } %>
                                            placeholder="JohnSmith2000">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="first-name" class="col-sm-3 col-form-group">First Name:</label>
                                    <div class="col-sm-9">
                                        <input type="text" required class="form-control" id="first-name" name="signup[firstName]" <% if(validation.firstName){ %> value="<%= validation.firstName %>" <% } %>
                                            placeholder="John">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="surname" class="col-sm-3 col-form-group">Surname:</label>
                                    <div class="col-sm-9">
                                        <input type="text" required class="form-control" id="surname" name="signup[surname]" <% if(validation.surname){ %> value="<%= validation.surname %>" <% } %>
                                            placeholder="Smith">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-sm-3 col-form-group">E-mail:</label>
                                    <div class="col-sm-9">
                                        <input type="email" required class="form-control <% if(validation.emailinvalid){ %> is-invalid <% } %>" id="email" name="signup[email]" <% if(validation.email){ %> value="<%= validation.email %>" <% } %>
                                            placeholder="johnsmith@example.com">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group row">
                                    <label for="hnumber" class="col-sm-3 col-form-group">House Number:</label>
                                    <div class="col-sm-9">
                                        <input type="text" required class="form-control  <% if(validation.hnumberinvalid){ %> is-invalid <% } %>" id="hnumber" name="signup[hnumber]" <% if(validation.hnumber){ %> value="<%= validation.hnumber %>" <% } %> placeholder="1234">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="postcode" class="col-sm-3 col-form-group">Post Code:</label>
                                    <div class="col-sm-9">
                                        <input type="text" required class="form-control  <% if(validation.postcodeinvalid){ %> is-invalid <% } %>" id="postcode" name="signup[postcode]" <% if(validation.postcode){ %> value="<%= validation.postcode %>" <% } %> placeholder="AB12 3CD">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <hr>
                                <div class="form-group row">
                                    <label for="password" class="col-sm-3 col-form-group">Password:</label>
                                    <div class="col-sm-9">
                                        <input type="password" required class="form-control <% if(validation.passwordinvalid){ %> is-invalid <% } %>" id="password" name="signup[password]" placeholder="password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="confirm_password" class="col-sm-3 col-form-group">Confirm Password:</label>
                                    <div class="col-sm-9">
                                        <input type="password" required class="form-control <% if(validation.confirm_passwordinvalid){ %> is-invalid <% } %>" id="confirm_password" name="signup[confirm_password]" placeholder="confirm password">
                                    </div>
                                </div>
                                <button class="btn btn-sm btn-success" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>